<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udithamelan.foodapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecipesViewArchive"
            android:parentActivityName=".Recipes"
            android:label="Recipie Results"></activity>
        <activity
            android:name=".SearchResultPopUp"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".EditTextPopup"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".About"
            android:label="@string/about_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Recipes"
            android:label="@string/recipes_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Search"
            android:label="@string/search_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditProducts"
            android:label="@string/edit_product_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Availability"
            android:label="@string/availability_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DisplayProducts"
            android:label="@string/display_products_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterProduct"
            android:label="@string/register_product_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>